table {
	width: 90%;
	background: #ccc;
	margin: 10px auto;
	border-collapse: collapse;/*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/	
}				
th,td {
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ccc;
}
th {
	background: #eee;
	font-weight: normal;
}		
tr {
	background: #fff;
}		
tr:hover {
	background: #eee;
}
hr{	
	width: 80%;
	margin: 0 auto;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}